<!-- <div class="card " style="width: 18rem; margin: 10px;"  >
  <img class="card-img-top" src={{imgUrl}} alt="Card image cap">

</div> -->

<div class="card">
  <img src={{imgUrl}} alt="John" style="width:100%">
  <h1>{{cast.name.substr(0,6)}}</h1>
  <p class="title">{{cast.character}}</p>
  <p>Harvard University</p>
  <a href="#"><i class="fa fa-dribbble"></i></a>
  <a href="#"><i class="fa fa-twitter"></i></a>
  <a href="#"><i class="fa fa-linkedin"></i></a>
  <a href="#"><i class="fa fa-facebook"></i></a>
  <p><button>Contact</button></p>
</div>
